<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
	</head>
	<body>

	<h1>BATTLE SHIP</h1>



	<form method="POST" action="crearTablero">
		 <%= csrf_token_field %>
		 Crear tablero de: Ancho 
		<input type="text" name="tableroAncho" />
		Alto 
		<input type="text" name="tableroAlto" />
		<input type="submit" value="CrearTablero" id="BTCrearTablero"/>
	</form>
 
 	<form method="POST" action="createSmallShip">
 		Crear barco en: 
 		<input type="text" name="xy" />
		<input type="submit" value="Crear Barco" id="BTCreateSmallShip">

 	</form>
	

	</body>
</html>